/BE/TestProject/TestProject/bin/Antlr3.Runtime.dll
/BE/TestProject/TestProject/bin/EntityFramework.dll
/BE/TestProject/TestProject/bin/EntityFramework.SqlServer.dll
/BE/TestProject/TestProject/bin/Microsoft.AspNet.Identity.Core.dll
/BE/TestProject/TestProject/bin/Microsoft.AspNet.Identity.EntityFramework.dll
/BE/TestProject/TestProject/bin/Microsoft.AspNet.Identity.Owin.dll
/BE/TestProject/TestProject/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.dll
/BE/TestProject/TestProject/bin/Microsoft.Web.Infrastructure.dll
/BE/TestProject/TestProject/bin/Newtonsoft.Json.dll
/BE/TestProject/TestProject/bin/Owin.dll
/BE/TestProject/TestProject/bin/roslyn/Microsoft.Build.Tasks.CodeAnalysis.dll
/BE/TestProject/TestProject/bin/roslyn/Microsoft.CodeAnalysis.CSharp.dll
/BE/TestProject/TestProject/bin/roslyn/Microsoft.CodeAnalysis.dll
/BE/TestProject/TestProject/bin/roslyn/Microsoft.CodeAnalysis.VisualBasic.dll
/BE/TestProject/TestProject/bin/roslyn/System.Collections.Immutable.dll
/BE/TestProject/TestProject/bin/roslyn/System.Reflection.Metadata.dll
/BE/TestProject/TestProject/bin/System.Net.Http.Formatting.dll
/BE/TestProject/TestProject/bin/System.Web.Helpers.dll
/BE/TestProject/TestProject/bin/System.Web.Http.dll
/BE/TestProject/TestProject/bin/System.Web.Http.Owin.dll
/BE/TestProject/TestProject/bin/System.Web.Http.WebHost.dll
/BE/TestProject/TestProject/bin/System.Web.Mvc.dll
/BE/TestProject/TestProject/bin/System.Web.Optimization.dll
/BE/TestProject/TestProject/bin/System.Web.Razor.dll
/BE/TestProject/TestProject/bin/System.Web.WebPages.Deployment.dll
/BE/TestProject/TestProject/bin/System.Web.WebPages.dll
/BE/TestProject/TestProject/bin/System.Web.WebPages.Razor.dll
/BE/TestProject/TestProject/bin/TestProject.dll
/BE/TestProject/TestProject/bin/WebGrease.dll
/BE/TestProject/TestProject/obj/Debug/TestProject.dll
/BE/TestProject/TestProject/bin/EntityFramework.SqlServer.xml
/BE/TestProject/TestProject/bin/EntityFramework.xml
/BE/TestProject/TestProject/bin/Microsoft.AspNet.Identity.Core.xml
/BE/TestProject/TestProject/bin/Microsoft.AspNet.Identity.EntityFramework.xml
/BE/TestProject/TestProject/bin/Microsoft.AspNet.Identity.Owin.xml
/BE/TestProject/TestProject/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.xml
/BE/TestProject/TestProject/bin/Newtonsoft.Json.xml
/BE/TestProject/TestProject/bin/System.Net.Http.Formatting.xml
/BE/TestProject/TestProject/bin/System.Web.Helpers.xml
/BE/TestProject/TestProject/bin/System.Web.Http.Owin.xml
/BE/TestProject/TestProject/bin/System.Web.Http.WebHost.xml
/BE/TestProject/TestProject/bin/System.Web.Http.xml
/BE/TestProject/TestProject/bin/System.Web.Mvc.xml
/BE/TestProject/TestProject/bin/System.Web.Optimization.xml
/BE/TestProject/TestProject/bin/System.Web.Razor.xml
/BE/TestProject/TestProject/bin/System.Web.WebPages.Deployment.xml
/BE/TestProject/TestProject/bin/System.Web.WebPages.Razor.xml
/BE/TestProject/TestProject/bin/System.Web.WebPages.xml
/BE/TestProject/TestProject/bin/Antlr3.Runtime.pdb
/BE/TestProject/TestProject/bin/TestProject.pdb
/BE/TestProject/TestProject/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/BE/TestProject/TestProject/obj/Debug/TestProject.csprojResolveAssemblyReference.cache
/BE/TestProject/TestProject/bin/roslyn/VBCSCompiler.exe.config
/BE/TestProject/TestProject/bin/TestProject.dll.config
/BE/TestProject/TestProject/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/BE/TestProject/TestProject/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/BE/TestProject/TestProject/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/BE/TestProject/TestProject/bin/roslyn/csc.exe
/BE/TestProject/TestProject/bin/roslyn/vbc.exe
/BE/TestProject/TestProject/bin/roslyn/VBCSCompiler.exe
/BE/TestProject/TestProject/bin/roslyn/Microsoft.CSharp.Core.targets
/BE/TestProject/TestProject/bin/roslyn/Microsoft.VisualBasic.Core.targets
/BE/TestProject/TestProject/obj/Debug/TestProject.csproj.FileListAbsolute.txt
/BE/TestProject/TestProject/obj/Debug/*.pdb
