
<table st-table="rowCollection" class="table table-striped">
		<thead>
		<tr>
			<th st-sort="ContactName">Contact Name</th>
			<th st-sort="ContactTitle">Contact Title</th>
			<th st-sort="OutletName">Outlet name</th>
			<th st-sort="ContactProfile">Contact Profile</th>
		</tr>
		</thead>
		<tbody>
		<tr ng-repeat="row in rowCollection">
			<td>{{row.ContactName}}</td>
			<td>{{row.ContactTitle}}</td>
			<td>{{row.OutletName}}</td>
			<td>{{row.ContactProfile}}</td>
		</tr>
		</tbody>
		<tfoot>
			<tr>
				<td colspan="5" class="text-center">
					<div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="7"></div>
				</td>
			</tr>
		</tfoot>
</table>